# Number of days to consider a certificate expired
DAYS=30
BASE_PATH="wheretobuild/certificates"
DOMAIN="yourdomain.com"
CC="CC"
STATE="Your State"
LOCALITY="Locality"
ORGANIZATION="Your Organisation"
ORGANIZATIONAL_UNIT="None"
EMAIL="root@yourdomain.com"
ROOT_CA_CN="Your Root Certificate Authority"
INTERMEDIATE_CA_CN="Your Intermediate Certification Authority"
SERVERS="server_hostnames_here"
CLIENTS="client_hostnames_here"
USERS="usernames_here"
